<div ng-init="vm.activate('user')">

    <div class="content-header">
        <div class="text-right col-md-6 pull-right">
            <h1>
                اضافه کردن کاربر
            </h1>
        </div>
        <div class="col-md-6 pull-left">
            <a ui-sref="app.user.add">
                اضافه کردن
                <span class="fa fa-plus"></span>
            </a>
        </div>
    </div>

    <div id="content-body">
        <div class="row">

            <div class="col-sm-12">

                <div class=" table table-striped table-responsive list-table">
                    <table class="table table-bordered table-hover right" dir="rtl"
                           st-pipe="vm.getItems"
                           st-table="vm.items">

                        <thead>
                        <tr class="info">
                            <th  width="50px" st-sort="id" class=" text-center">
                                #
                            </th>
                            <th st-sort="number" class=" text-center">
                                نام
                            </th>
                            <th st-sort="name" class=" text-center">
                               سمت
                            </th>
                            <th st-sort="roof" class="text-center">
                               شماره پرسنلی
                            </th>
                            <th st-sort="roof" class="text-center">
نام کاربری
                            </th>
                            <th width="100px" st-sort="roof" class="text-center">
عملیات
                            </th>
                        </tr>

                        </thead>
                        <tbody ng-show="!vm.isLoading">
                        <tr ng-repeat="item in vm.items"
                        >
                            <td ng-click="vm.$state.go('app.user.edit', {userId: item.id})">{{$index + 1}}</td>
                            <td ng-bind="item.name" ng-click="vm.$state.go('app.user.edit', {userId: item.id})"></td>
                            <td ng-bind="item.job" ng-click="vm.$state.go('app.user.edit', {userId: item.id})"></td>
                            <td ng-bind="item.idCode" ng-click="vm.$state.go('app.user.edit', {userId: item.id})"></td>
                            <td ng-bind="item.username" ng-click="vm.$state.go('app.user.edit', {userId: item.id})"></td>
                            <td class="table-operation">
                                <a ng-click="vm.delete(item)">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a ui-sref="app.user.edit({userId: item.id})">
                                    <i class="fa fa-edit"></i>
                                </a>

                            </td>
                        </tr>
                        </tbody>

                        <tbody ng-show="vm.isLoading">
                        <tr>
                            <td class="text-center"
                                colspan="6">
                                در حال بارگذاری
                            </td>
                        </tr>
                        </tbody>

                        <tbody ng-if="vm.pagination.numberOfPages < 1">
                        <tr>
                            <td class="text-center"
                                colspan="6">
                                موردی برای نمایش نیست
                            </td>
                        </tr>
                        </tbody>

                        <tfoot ng-if="vm.pagination.numberOfPages > 1">
                        <tr>
                            <td class="text-center"
                                st-pagination=""
                                st-items-by-page="10"
                                colspan="6">
                            </td>
                        </tr>
                        </tfoot>



                    </table>
                    </table>
                </div>


            </div>

        </div>

    </div>
