
<div ng-init="vm.activate('building')">

    <div class="content-header">
        <div class="text-right col-md-6 pull-right">
            <h1>
اضافه کردن ساختمان جدید
            </h1>
        </div>
        <div class="col-md-6 pull-left">
            <a ui-sref="app.building.list">
                لیست
                <span class="fa fa-list"></span>
            </a>
        </div>
    </div>

    <div id="content-body">

        <form ng-submit="vm.submit()" name="vm.appForm" novalidate>

            <div class="row">

                <div class="col-sm-6 col-sm-3 col-sm-offset-3">
                    <form name="vm.appForm" ng-submit="vm.submit()" >
                        <div ng-class="{'has-error': vm.appForm['name'].$touched && vm.appForm['name'].$invalid}"
                                class="form-group">
                            <label class="right">
                                <sup>*</sup>نام
                            </label>
                            <input
                                    ng-required="true"
                                    name="name"
                                    ng-model="vm.model.name"
                                    type="text"
                                    class="form-control" >
                            <span class="help-block text-right"
                                  ng-show="vm.appForm['name'].$touched && vm.appForm['name'].$invalid">
                                نام را وارد کنید
                            </span>
                        </div>
                        <div ng-class="{'has-error': vm.appForm['floor'].$touched && vm.appForm['floor'].$invalid}"
                             class="form-group">
                            <label class="right">
    تعداد طبقات
                            </label>
                            <input

                                    name="floor"
                                    ng-model="vm.model.floor"
                                    type="number" class="form-control" >
                            <span class="help-block text-right"
                                  ng-show="vm.appForm['floor'].$touched && vm.appForm['floor'].$invalid">
                                طبقه را وارد کنید
                            </span>
                        </div>

                        <button ng-disabled="vm.appForm.$invalid" type="submit" class="btn btn-success right">
                            ذخیره
                        </button>
                    </form>

                </div>


            </div>

        </form>
    </div>



</div>
