
<div ng-init="vm.activate('building')">

    <div class="content-header">
        <h1 class="text-right">
اضافه کردن ساختمان جدید
        </h1>

    </div>

    <div id="content-body">

        <div class="row">

            <div class="col-sm-6 col-sm-3 col-sm-offset-3">
                <form name="vm.appForm" ng-submit="vm.submit()" >
                    <div class="form-group">
                        <label class="right">
    نام
                        </label>
                        <input ng-model="vm.fields.number" type="text" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label class="right">
تعداد طبقات
                        </label>
                        <input ng-model="vm.fields.name" type="text" class="form-control" >
                    </div>

                    <button type="submit" class="btn btn-success right">
                        ذخیره
                    </button>
                </form>

            </div>


        </div>


    </div>



</div>
