#top-dashboard{
  font-size:30px;
  text-align: right;
  padding: 10px;
}

#zone_search{
  width: 90%;
  margin: 20px auto;
  background-color: white;
  padding: 15px;

}
#zone{
  .toolbax{
    .toolbox-item{
      .toolbox-title{
        background-color: white;
        padding: 10px;
        font-size: 22px;
        border-bottom: 1px solid black;
      }
      .toolbox-content{
        background-color: white;

      }
    }
  }

  .zone-item{
    width: 90%;
    margin: auto;
    .zone-title{
      font-size: 14px;
    }
    .zone-panel {
      ol{
        min-height: 150px;
        background-color: grey  ;
      }
    }
  }
}
.drag-item{
  margin: 10px;
  float: right;
}
.drag-lamp{
  background-image: url("../../../assets/icons/lamp-on.gif");
  background-repeat: no-repeat;
  background-size: 50px 70px;
  width: 50px;
  height: 80px;
  padding-top: 70px;
  text-align:center;
  border: 1px solid white;
}
.drag-multi{
  background-image: url("../../../assets/icons/multi.png");
  background-repeat: no-repeat;
  background-size: 50px 70px;
  width: 50px;
  height: 80px;
  padding-top: 70px;
  text-align:center;
  border: 1px solid white;
}
