<div class="panel panel-default">

    <div class="panel-body" id="top-dashboard">
        ناحیه بندی
    </div>
</div>

<div  class="row" id="zone">

  <div class="col-md-12">
    <div id="zone_search" class="text-right">
        <div class="row">
            <div class="col-md-4 pull-right ">
                <label class="right">
                    ساختمان
                </label>
                <select
                        value="bu"
                        name="floor"
                        ng-model="vm.model.building"
                        class="form-control"
                        ng-change="vm.newRoom()"
                        ng-options="buildingItem.id as buildingItem.name for buildingItem in vm.building"
                >
                </select>
            </div>
            <div class="col-md-4 pull-right">
                <label class="right">
                    اتاق
                </label>
                <select
                        ng-disabled="vm.model.building==null"
                        name="floor"
                        ng-model="vm.model.room"
                        class="form-control"
                        ng-change="vm.getData()"
                        ng-options="roomItem.id as roomItem.name for roomItem in vm.rooms">
                </select>
            </div>

            <div class="col-md-4 pull-left">
                <label class="right" style="color: white">
.
                </label>
                <button ng-click="vm.saveChange()" ng-disabled="!vm.isReady" ng-class="{'btn-success' : vm.isReady}" class="btn btn-default width100">
                    ثبت تغییرات
                </button>
            </div>
      </div>
    </div>
  </div>

    <!--<div class="col-md-12">-->
        <!--<ul class="">-->
            <!--<li class="span3" ng-repeat="image in images">-->
                    <!--<div class="caption">-->

                        <!--<div-->
                                <!--class="slot-drop"-->
                                <!--data-drop="true"-->
                                <!--ng-model='list1'-->
                                <!--jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback',onOver: 'overCallback', onOut: 'outCallback'}">-->
                            <!--<div-->
                                    <!--class="slot-drag"-->
                                    <!--ng-show="list1[$index].title"-->
                                    <!--data-drag="{{list1[$index].drag}}"-->
                                    <!--data-jqyoui-options="{revert: 'invalid'}"-->
                                    <!--ng-model="list1"-->
                                    <!--jqyoui-draggable="{index: {{$index}},placeholder:false,animate:true}">-->
                                <!--{{list1[$index].title}}-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
                <!--<div class="slot-drop" ng-repeat="item in list2" data-drop="true" ng-model='list2' jqyoui-droppable="{index: {{$index}}}">-->
                    <!--<div-->
                            <!--class="slot-drag"-->
                            <!--data-drag="true"-->
                            <!--data-jqyoui-options="{revert: 'invalid'}"-->
                            <!--ng-model="list2"-->
                            <!--jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'startCallback(item, $index)', onStop: 'stopCallback', onDrag: 'dragCallback'}"-->
                            <!--ng-hide="!item.title">{{item.title}}-->
                    <!--</div>-->
                <!--</div>-->
    <!--</div>-->

    <!--<div class="col-md-12">-->
        <!--<div id="position-panel">-->
            <!--<div ng-repeat="r in [1] ">-->
                <!--<div class="slot circle"-->
                     <!--ng-repeat="c  in [] | range:vm.position.height"-->
                     <!--data-drag="true"-->
                     <!--ng-model="list4"-->
                     <!--data-jqyoui-options="{revert: 'invalid'}"-->
                     <!--jqyoui-draggable="{index: {{$index}}}"-->
                <!--&gt;{{$index}}</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div id="ss">-->
            <!--<div ng-repeat="r in [1] ">-->
                <!--<div-->
                    <!--class="slot red circle"-->
                    <!--ng-repeat="c  in [] | range:vm.position.height"-->
                    <!--data-drop="true"-->
                    <!--ng-model='list5'-->
                    <!--jqyoui-droppable="{index: {{$index}}}"-->
                <!--&gt;{{$index}}</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


    <div ng-show="vm.isReady" class="col-md-12">
        <div class="row">
            <div class="col-md-4 pull-right text-right">

                <div class="toolbax">
                    <div class="toolbox-item">
                        <div class="toolbox-title">
                            لامپ
                        </div>
                        <div class="toolbox-content">
                            <div class="drag-lamp drag-item" ng-repeat='item in vm.lamps' ng-show="item.title" data-drag="true" ng-model="vm.lamps" jqyoui-draggable="{index: {{$index}}, animate: true}">{{item.title}}</div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="toolbox-item">
                        <div class="toolbox-title">
                            مولتی سنسور
                        </div>
                        <div class="toolbox-content">
                            <div class="drag-multi drag-item" ng-repeat='item in vm.multisensors' ng-show="item.title" data-drag="true" ng-model="vm.multisensors" jqyoui-draggable="{index: {{$index}}, animate: true,}">{{item.title}}</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-8 pull-right text-right">

                <div class="row">
                    <div class="col-xs-2 pull-right">
                        <label class="right">
                            عرض
                        </label>
                        <input
                                ng-init="vm.position.width=10"
                                ng-model="vm.position.width"
                                class="form-control"
                                type="number"
                        >
                        </input>
                    </div>

                    <div class="col-xs-2 pull-right">
                        <label class="right">
                            ارتفاع
                        </label>
                        <input
                                ng-init="vm.position.height=4"
                                ng-model="vm.position.height"
                                class="form-control"
                                type="number"
                        >
                        </input>
                    </div>
                </div>



                <div ng-repeat="zone in vm.zones" class="zone-item">
                    <div class="zone-title">{{zone.title}}</div>
                    <div class="zone-panel">
                        <ol
                                data-drop="true"
                                data-drag="true"
                                ng-model='zone.list'
                                jqyoui-droppable="{multiple:true}">
                            <div
                                    class=" drag-item"
                                    ng-repeat="item in zone.list track by $index"
                                    ng-class="item.type == 'lamp' ? 'drag-lamp' : ''  || item.type == 'multi' ? 'drag-multi' : ''"
                                    ng-show="item.title" data-drop="true"
                                    ng-model="zone.list"
                                    jqyoui-droppable="{index: {{$index}}, animate:true , onDrop: 'dropCallback'}"
                                    jqyoui-draggable="{index: {{$index}}, animate: true,}"
                            >{{item.type}} </div>
                        </ol>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>
                <div>
                    <fieldset>
                        <legend>
                            تعریف ناحیه جدید
                        </legend>
                        <div class="form-inline">
                            <div class="form-group pull-right">
                                <input ng-model="vm.zoneName" type="text" class="form-control ">
                            </div>
                            <button ng-click="vm.defineNewZone()" type="submit" class="btn btn-default">
                                ایجاد
                            </button>
                        </div>

                    </fieldset>
                </div>
                <div class="clearfix"></div>

                <br>
                <pre class="text-left">
      {{vm.zones | json}}
    </pre>

            </div>
        </div>
    </div>

</div>
