@panel-min-height: 220px;
@panel-background-alpha: 0.7;

.col {
	&-orange .panel {
		background: rgba(255,145,8,@panel-background-alpha);
	}

	&-green .panel {
		background: rgba(102,178,102,@panel-background-alpha);
	}

	&-blue .panel {
		background: rgba(127,127,255,@panel-background-alpha);
	}
}

.panel {
	min-height: @panel-min-height;
	position: relative;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 17px;
	display: inline-block;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	opacity: 1;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
}

.panel .title {
	border-bottom: 2px solid #E6E9ED;
	padding: 1px 5px 6px;
	margin-bottom: 10px;
}

.panel .title .filter {
	width: 40%;
	float: right;
}

.panel .title h2 {
	margin: 5px 0 6px;
	float: left;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.panel .title h2 small {
	margin-left: 10px;
}

.panel .title span {
	color: #BDBDBD;
}

.panel .content {
	padding: 0 5px 6px;
	position: relative;
	width: 100%;
	float: left;
	clear: both;
	margin-top: 5px;
}

.panel .content h4 {
	font-size: 16px;
	font-weight: 500;
}

