 $fa-font-path: "../../bower_components/font-awesome/fonts";
 @import "../../bower_components/font-awesome/scss/font-awesome.scss";


 .form-control{
    text-align: right;
 }
 select{
   direction: rtl;
 }
 .list-table{
   width: 90%;
   margin: auto;
 }
 /* Colors */
body {
  background: #e9edf5;
  font-family: "Proxima Nova", "Roboto", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sp-container {
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding-right: 240px;
  box-sizing: border-box;
}
.sp-toggle-sidebar .sp-container {
  padding-left: 0;
}
.sp-container .sp-sidebar {
  z-index: 10;
  position: fixed;
  height: 100%;
  right:0;
  margin-left: -240px;
  background: #4a5864;
  width: 240px;
  overflow: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.sp-toggle-sidebar .sp-container .sp-sidebar {
  width: 0;
}
.sp-container .sp-sidebar .logo {
  background: #37414a;
  width: 240px;
  padding: 20px 65px;
}
.sp-container .sp-sidebar .logo img {
  width: 100%;
}
.sp-container .sp-sidebar .nav {
  width: 240px;
}
.sp-container .sp-sidebar .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sp-container .sp-sidebar .nav ul li {
  position: relative;
  border-bottom: 1px solid #5c6974;
  font-weight: 600;
  text-align: right;
}
.sp-container .sp-sidebar .nav ul li.nav-label {
  display: block;
  padding: 20px 25px;
  margin: 12px 0 0;
  color: #91a0ad;
  font-size: 16px;
  line-height: 1;

}
.sp-container .sp-sidebar .nav ul li a {
  display: block;
  padding: 20px 25px;
  color: #c7d4e0;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.sp-container .sp-sidebar .nav ul li a:hover {
  color: #ffffff;
}
.sp-container .sp-sidebar .nav ul li a i {
  width: 15px;
  margin: 0 0 0 6px;
  float: right;
}
.sp-container .sp-sidebar .nav ul li.sp-dropdown.sp-dropdown-active {
  border-bottom: none;
}
.sp-container .sp-sidebar .nav ul li.sp-dropdown.sp-dropdown-active > a {
  background: #33b7d8;
  color: #ffffff;
}
.sp-active{
  background: #33b7d8;
  color: #ffffff;
}
.sp-container .sp-sidebar .nav ul li.sp-dropdown.sp-dropdown-active > a:after {
  transform: rotate(180deg);
}
.sp-container .sp-sidebar .nav ul li.sp-dropdown > a {
  position: relative;
}
.sp-container .sp-sidebar .nav ul li.sp-dropdown > a:after {
  content: '\f0ab';
  position: absolute;
  top: 50%;
  left: 20px;
  margin: -6px 0 0 0;
  color: rgba(0, 0, 0, 0.2);
  font-family: 'FontAwesome';
  font-size: 14px;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.sp-container .sp-sidebar .nav ul li.sp-dropdown .sp-dropdown-menu {
  position: relative;
  background: #37414a;
  display: none;
  border-right:  5px solid #33b7d8;
  padding: 20px 25px 15px;
  -webkit-box-sizing: border-box;
}
.sp-container .sp-sidebar .nav ul li.sp-dropdown .sp-dropdown-menu:before {
  content: '';
  display: none;
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  border-left: 2px solid #5c6974;
}
.sp-container .sp-sidebar .nav ul li.sp-dropdown .sp-dropdown-menu li {
  position: relative;
  border: none;
  font-size: 14px;
}
.sp-container .sp-sidebar .nav ul li.sp-dropdown .sp-dropdown-menu li:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  background: #5c6974;
  width: 10px;
  height: 2px;
  margin: -1px 0 0;
  right: 0;
}
.sp-container .sp-sidebar .nav ul li.sp-dropdown .sp-dropdown-menu li:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 50%;
  background: #5c6974;
  width: 2px;
  height: 100%;
  right: 0;
}
.sp-container .sp-sidebar .nav ul li.sp-dropdown .sp-dropdown-menu li a {
  padding: 10px 10px 10px 20px;
  color: #91a0ad;
  font-size: 14px;
}
.sp-container .sp-sidebar .nav ul li.sp-dropdown .sp-dropdown-menu li a:before {
  content: '\f10c';
  font-family: 'FontAwesome';
  margin: 0  0 0 4px;
  float: right;
}
.sp-container .sp-sidebar .nav ul li.sp-dropdown .sp-dropdown-menu li a:hover {
  color: #ffffff;
}
.sp-container .sp-sidebar .nav ul li.sp-dropdown .sp-dropdown-menu li.sp-dropdown-active a {
  color: #ffffff;
}
.sp-container .sp-sidebar .nav ul li.sp-dropdown .sp-dropdown-menu li.sp-dropdown-active a:before {
  color: #33b7d8;
}
.sp-container .sp-content {
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.sp-container .sp-content .container-fluid {
  padding: 0 30px;
}
.sp-container .sp-content .header {
  background: #ffffff;
  margin: 0 0 ;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}
.sp-container .sp-content .header .sp-navbar {
  background: #f9fcfd;
  padding: 18px 0;
  border-bottom: 1px solid #e7e7e7;
}
.sp-container .sp-content .header .sp-navbar .nav button {
  background: #ffffff;
  width: 45px;
  margin: 0 6px 0 0;
  padding: 0;
  border: 1px solid #e2e7e7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #bbc7d2;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
}
.sp-container .sp-content .header .sp-navbar .nav button:last-child {
  margin: 0;
}
.sp-container .sp-content .header .sp-navbar .profile {
  padding: 5px 0;
}
.sp-container .sp-content .header .sp-navbar .profile .avatar {
  display: inline-block;
  max-width: 32px;
  max-height: 32px;
  margin: 0 6px 0 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  vertical-align: middle;
}
.sp-container .sp-content .header .sp-navbar .profile .avatar img {
  width: 100%;
}
.sp-container .sp-content .header .sp-navbar .profile span {
  display: inline-block;
  color: #a1aeb9;
  font-weight: 600;
  vertical-align: middle;
}
.sp-container .sp-content .header .sp-navbar .profile span i {
  font-size: 12px;
  margin: 0 0 0 6px;
}
.sp-container .sp-content .header .main-header .top-header {
  padding: 15px 0 0;
  border-bottom: 1px solid #e2e7e7;
}
.sp-container .sp-content .header .main-header .top-header .breadcrumb {
  background: 0;
  margin: 5px 0 0;
  padding: 0 0;
}
.sp-container .sp-content .header .main-header .top-header .breadcrumb li {
  color: #91a0ad;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
.sp-container .sp-content .header .main-header .top-header .breadcrumb li:first-child:before {
  display: none;
}
.sp-container .sp-content .header .main-header .top-header .breadcrumb li:before {
  content: '\f105';
  font-family: 'FontAwesome';
}
.sp-container .sp-content .header .main-header .top-header .breadcrumb li.active a {
  margin: 0 0 -1px;
  border-bottom: 1px solid #33b7d8;
  color: #33b7d8;
}
.sp-container .sp-content .header .main-header .top-header .breadcrumb li a {
  display: inline-block;
  padding: 10px 0;
  color: #91a0ad;
  text-decoration: none;
}
.sp-container .sp-content .header .main-header .page-header {
  margin: 0;
  padding: 25px 0;
  border: 0;
}
.sp-container .sp-content .header .main-header .page-header .page-title {
  padding: 16px 0;
}
.sp-container .sp-content .header .main-header .page-header .page-title .icon {
  display: inline-block;
  background: #000000;
  width: 65px;
  height: 65px;
  margin: 0 26px 0 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  vertical-align: middle;
}
.sp-container .sp-content .header .main-header .page-header .page-title h1 {
  display: inline-block;
  color: #91a0ad;
  margin: 0;
  line-height: 1;
  font-size: 40px;
  vertical-align: middle;
}
.sp-container .sp-content .header .main-header .page-header .page-title h1 span {
  display: block;
  font-size: 14px;
  color: #bbc7d2;
}
.sp-container .sp-content .header .main-header .page-header .nav-pills {
  vertical-align: middle;
}
.sp-container .sp-content .header .main-header .page-header .nav-pills li {
  display: inline-block;
  margin-right: 21px;
}
.sp-container .sp-content .header .main-header .page-header .nav-pills li a {
  display: block;
  background: #f9fcfd;
  width: 145px;
  padding: 25px 0;
  border: 2px solid #e2e7e7;
  color: #91a0ad;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.sp-container .sp-content .header .main-header .page-header .nav-pills li a .label {
  display: block;
  color: #bbc7d2;
  font-size: 12px;
  text-transform: uppercase;
}
.sp-container .sp-content .main-content .module {
  position: relative;
  margin-bottom: 30px;
}
.sp-container .sp-content .main-content .module .module-head {
  background: #33b7d8;
  padding: 25px 35px;
  margin: 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}
.sp-container .sp-content .main-content .module .module-head .label {
  background: #2692ad;
  margin: 0 0 0 11px;
  padding: 6px 8px;
  vertical-align: middle;
}
.sp-container .sp-content .main-content .module .module-head:after {
  content: '\f0ab';
  position: absolute;
  top: 50%;
  right: 35px;
  margin: -18px 0 0 0;
  color: rgba(0, 0, 0, 0.2);
  font-family: 'FontAwesome';
  font-size: 16px;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.sp-container .sp-content .main-content .module .module-content {
  background: #ffffff;
  border: 1px solid #e3e6ee;
  border-top: 0;
}


// /*Custom css*/
 .right{
   float: right;
 }
 .left{
   float: left;
 }
 .table-operation i{
   font-size: 18px;
 }
// #content-body{
//   min-height: 600px
// }
//
// html, body {
//   height: 100%;
// }
// body {
//   height: 100%;
// }
// img {
//   max-width: 100%;
// }
// ul {
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }
// a {
//   text-decoration: none;
// }
// #header {
//   float: left;
//   width: 100%;
//   background: #ffffff;
//   position: relative;
// }
// .white-label {
//   float: left;
//   background: #33373B;
//   max-width: 210px;
//   padding: 10px;
//   min-height: 44px;
//   background: #279BE4;
//   width: 100%;
//   max-height: 44px;
// }
// .white-label img {
//   max-height: 43px;
// }
// .header-nav {
//   min-height: 64px;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
//   background: #279BE4;
// }
// .menu-button {
//   float: left;
//   font-size: 29px;
//   color: #fff;
// }
// .nav ul {
//   height: 64px;
//   float: left;
// }
// .nav ul li {
//   float: right;
//   position: relative;
//   padding: 11px;
// }
// .nav > ul > li:first-child {
//   border-left: none;
// }
// .nav ul li a {
//   color: #fff;
//   padding: 1px;
//   float: left;
// }
// .nav ul li i {
//   color: #fff;
// }
// .nav ul li:hover {
//   background: #01A9F0;
//   color: #fff;
// }
// .user-profile {
//   float: right;
// }
// .user-profile > div {
//   float: left;
//   padding: 20px 8px;
//   position: relative;
// }
// .user-profile i {
//   font-size: 1.2em;
//   color: #5F6F86;
// }
// .user-profile i:hover {
//   color: #397AC5;
// }
// .font-icon i:after {
//   position: absolute;
//   content: '3';
//   background: #E74C3C;
//   color: #fff;
//   font-size: 12px;
//   border-radius: 50%;
//   width: 10px;
//   height: 10px;
//   padding: 3px 4px 4px 3px;
//   text-align: center;
//   top: 12px;
//   right: 11px;
// }
// .font-icon {
//   padding: 8px 10px;
// }
// .font-icon i {
//   font-size: 24px;
// }
// .nav-mail .font-icon i:after {
//   background: #2ECC71;
// }
// div.user-image {
//   padding: 9px 5px;
//   margin: 0 5px;
//   border-left: 1px solid #ccc;
//   border-right: 1px solid #ccc;
// }
// .nav-profile {
//   background: #0274BD;
// }
// .nav-profile-image img {
//   width: 39px;
//   height: 41px;
//   border-radius: 50%;
//   float: left;
// }
// .nav-profile-name {
//   float: right;
//   margin: 11px 7px 8px 14px;
//   color: #fff;
// }
// .nav-profile-name i {
//   padding: 0 0 0 11px;
// }
// .nav-chat i:after {
//   display: none;
// }
// #sidebar {
//   overflow: hidden;
//   width: 210px;
//   height: 100%;
//   float: right;
//   background: #2A2D33;
// }
// #sidebar-nav {
//   width: 106%;
//   height: calc(100% - 95px);
//   padding: 0;
//   background: #2A2D33;
//   border-right: 1px solid #E0E0E0;
//   overflow-y: scroll;
// }
// #sidebar-nav h2 {
//   color: #60636B;
//   float: left;
//   width: 100%;
//   font-size: .8em;
//   font-family: 'Open Sans', sans-serif;
//   font-weight: 600;
//   text-transform: uppercase;
//   padding: 3px 0 2px 20px;
//   border-top: 1px solid #4D4C4C;
//   box-sizing: border-box;
//   margin: 10px 0;
// }
// #sidebar-nav ul {
//
// }
// #sidebar-nav ul li {
//
// }
// #sidebar-nav ul li a {
//   color: #C2C2C2;
//   font-size: .95em;
//   padding: 15px 20px;
//   float: left;
//   width: 100%;
//   font-weight: 600;
//   box-sizing: border-box;
//   text-align: right;
// }
// #sidebar-nav ul li:hover a, #sidebar-nav ul li:hover a i, #sidebar-nav li.active a, #sidebar-nav li.active a i {
//   color: #333;
// }
// #sidebar-nav ul li:hover a {
//   background: #fff;
//   color: #333;
// }
// #sidebar-nav ul li.active a {
//   background: #fff;
//   color: #333;
// }
// #sidebar-nav ul li.active a i {
//   background: #fff;
// }
// #sidebar-nav i {
//   padding-left: 8px;
//   font-size: 1.3em;
//   color: #60636B;
//   width: 25px;
//   text-align: center;
//   float: right;
// }
// #content {
//   float: left;
//   width: calc(100% - 210px);
//   height: 100%;
//   word-wrap: break-word;
//   background: #FFFFFF;
//   font-family: Raleway, sans-serif;
// }
// ::-webkit-scrollbar {
//   width: 12px;
// }
// ::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//   border-radius: 10px;
// }
// ::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
// }
// .content {
//   float: left;
//   background: #E9EEF4;
//   width: 100%;
//   height: calc(100% - 64px);
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
// }
 .table td {
   text-align: center;
 }
 .content-header {
   background: #fff;
   float: right;
   width: 100%;
   margin-bottom: 15px;
   padding: 5px 15px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   border-bottom: 1px solid #ccc;
 }
// .content-header h1 {
//   margin: 0;
//   font-weight: normal;
//   padding-bottom: 5px;
// }
// .content-header p {
//   margin: 0;
//   padding-left: 2px;
// }
// .widget-box {
//   background: #fff;
//   border: 1px solid #E0E0E0;
//   float: left;
//   width: 100%;
//   margin: 0 0 15px 15px;
// }
// .widget-header {
//   background: #279BE4;
// }
// .widget-header h2 {
//   font-size: 15px;
//   font-weight: normal;
//   margin: 0;
//   padding: 11px 15px;
//   color: #F9F9F9;
//   display: inline-block;
// }
// .sample-widget {max-width: 47%;}
// .widget-box .fa-cog {
//   float: right;
//   color: #fff;
//   margin: 11px 11px 0 0;
//   font-size: 20px;
// }
//
//
//
//
//
//
//
//
// .drag-itme{
//   display: inline-block;
//   min-height: 50px;
//   float: right;
//   margin: 10px;
//   background-color: green;
//   color: white;
//   padding :20px 20px;
// }
//
// .drag-multi{
//   background-color: yellow;
// }
